.restock-btn button{
    padding: 15px 18px;
    margin-top: 2px;
}
.input{
    border:1px solid #FE8144;
    border-radius: 5px 0px 0px 5px;
}
.submit{
    background-color: #FE8144;
    border:1px solid #FF5400;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-weight: 600;
}
.submit:hover{
    background-color: #FF5400;
    border:1px solid #FE8144;
}